<!-- IF -->
<div class="" (click)="articleSelected()" *ngIf="number > 0; else otherEle">
    Number > 0
</div>
<ng-template #otherEle>
    <div class="">
        Number = 0
    </div>
</ng-template>
<!-- SWITCH -->
<div [ngSwitch]="number">
  <div *ngSwitchCase="0">zero</div>
  <div *ngSwitchCase="1">one</div>
  <div *ngSwitchDefault>s{{number}}</div>
</div>

<div [ngClass]="{borderstyle: isBoolean}" (click)="articleSelected()">
    <span style="display:block;">{{number}}</span>
    <div class="">
        <div class="">
            {{article.votes}}
        </div>
        <div class="">
            Points
        </div>
    </div>
    <div class="">
        <a href="{{article.link}}">{{article.title}}</a>
        <div class="">
            {{article.domain()}}
        </div>
        <ul>
            <li>
                <a href="" (click)="voteUp()">upvote</a>
            </li>
            <li>
                <a href="" (click)="voteDown()">downvote</a>
            </li>
        </ul>
    </div>
</div>
