
<form class="inputform">
    <div class="">
        <label for="title">Title</label>
        <input type="text" name="title" #newtitle />
    </div>
    <div class="">
        <label for="link">Link</label>
        <input type="text" name="link" #newlink />
    </div>
    <button type="button" name="button" (click)="addAticle(newtitle, newlink)">Submit Link</button>
</form>

<div class="" >
    <app-article *ngFor="let arti of sortedArticle(); let i=index"
        [style.color]="(i < 1) ? '#0f0' : '#00f' "
        [article]=arti [number]=i (onArticleSelected)="articleValueEvent($event)" (click)="callUpdate()">
    </app-article>
</div>

<div style="width:1000px;">
    <canvas id="myCanvas" #myCanvas></canvas>
</div>


<a [routerLink]="['/']">home</a>
<a [routerLink]="['/myproject/1234']">myproject:BubbleChart(ls lib)</a>
<a [routerLink]="['/userlist']">userlist</a>
<a [routerLink]="['/useritem']">useritem</a>
<a [routerLink]="['/form']">form</a>
<a [routerLink]="['/simpleHttp']">simpleHttp</a>

<router-outlet></router-outlet>

<footer>cdsfsdfsdfsdf</footer>
